html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  border: 0 none;
  background: none;
  padding: 0;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}
